 /* .slide-up-home {
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to top left, rgb(19, 93, 118), rgb(27, 214, 214));
    animation: slide-up 5s ease 1;
    position: relative;
    animation-delay: 2s;
    flex-direction: column;
    animation-iteration-count: 1;
} */
.slide-up{
    height: 200vh;
    width: 100vw;
    background-color: black;
    position: relative;
    opacity: 1;
    animation: slide-up 5s ease 1;
    transform: translateY(0); 
    animation-delay: 2s;
}

.hide {
    height: 0;
    transform: translateY(-100%); 
    opacity: 0;
}
.slide-up>.container>h2{
    margin: 10px;
}
.slide-up>.container>h3{
    margin: 50px;
}

.home, .aboutme, .myskills, .projects, .contact{
    height: 100vh;
    width: 100vw;
    background: var(--background-color);
    position: absolute;
    animation: slide-up-portfolio 5s ease 1;
    animation-delay: 2s;
}

@keyframes slide-up {
    from {
        top: 0;
    }
    to {
        top: -100vh;
    }
}
@keyframes slide-up-portfolio {
    from {
        top: 100vh;
    }
    to {
        top: 0;
        position: absolute;
    }
}

.typing-container {
    display: flex;
    align-items: center; /* Align text and cursor */
}

.cursor {
    animation: blink 0.7s step-end infinite; /* Cursor blinking effect */
    margin-left: 5px; /* Space between text and cursor */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* @keyframes slide-up{
    from {
        top: 0;
    }
    to {
        top: -200vh;
    }
}
.home{
    height: 100vh;
} */