.contactme{
    flex-direction: column;
}
form>div{
    margin: 20px;
}
.name>label, .email>label, .message>label{
    font-size: 1.5rem;
}
.name>input, .email>input, .message>input{
    padding: 5px 10px;
    width: max-content;
}
.submit>button{
    background-color: black;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.contact-me{
    align-items: center;
    flex-direction: column;
}
.icons>a, .contact_me>a{
    padding: 10px 20px;
    font-size: 1.25rem;
}
i{
    margin-right: 5px;
}