.skills-container {
    width: 100%;
    margin: 50px auto;
  }
  
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .skill-name {
    width: 25%;
    font-size: 1.25rem;
    color: var(--text-color);
    padding: 10px;
  }
  
  .skill-bar {
    width: 70%;
    background-color: gold;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .skill-percentage {
    height: 100%;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .skill-bar div {
    height: 30px;
  }
  
  .html {
    width: 97%;
    background-color: #6d1a07;
  }
  
  .css {
    width: 90%;
    background-color: #3498db;
  }
  
  .js {
    width: 10%;
    background-color: green;
  }
  
  .python {
    width: 50%;
    background-color: #4caf50;
  }
  
  .django {
    width: 80%;
    background-color: #2ecc71;
  }
  
  .drf {
    width: 90%;
    background-color: #9b59b6;
  }
  .training>ul>li{
    font-size: 1.25rem;
    padding: 10px;
    list-style-type:lower-roman;
  }
  