header{
    width: 100%;
}
.navbar{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.navbar>h3{
    padding: 10px;
}
.navbar>ul>li{
    padding: 10px;
    font-size: 1.25rem;
    color: var(--text-color);
}
.navbar>ul>li:hover{
    border-right:2px solid gold ;
    border-bottom:2px solid gold ;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 255, 85);
}

main>.container{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}
main>.container>img{
    width: 40%;
    border-radius: 50px;
}
.home-image{
    flex-basis: 40%;
}
.home-text{
    flex-basis: 40%;
}
.home-text>h2{
    font-size: 3rem;
}
.home-text>p{
    padding-top: 50px;
}
.typing-container>p{
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 50px;
    animation: cursor 0.5s ease infinite;
}
@keyframes cursor{
    0%{
        border-right:5px solid gold;
    }
    100%{
        border-right: transparent;
    }
}
